<%- include("partials/header")%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<canvas id="myChart" style="width:100%;max-width:500px;height:40%;"></canvas>

<script>
	var xValues = ["Global Footprint", "country Footprint", "Your Footprint"];
	var yValues = [10, 10, <%=pie%>];
var barColors = [

	"#00ffab",
	"#4fb056",
	"#1ef10e"

];

new Chart("myChart", {
	type: "pie",
	data: {
		labels: xValues,
		datasets: [{
			backgroundColor: barColors,
			data: yValues
		}]
	},
	options: {
		title: {
			display: true,
			text:  "Motorbike carbon footprint analysis."
		}
	}
});
</script>
<style >
	body{

		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color:#5CB85C;
		color:white;
		 background-image: url("https://images.unsplash.com/photo-1623680391265-df20fdc90a16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8Nnx8fGVufDB8fHx8&w=1000&q=80");



	 }
</style>

<h2><%=title%> Carbon Footprint </h2><br>

<form action="/MotorBike" method="post">
	<label for="bike">Select the motorbike type: </label>
	<select name="bike" id="bike">


					<% if(sel==="--Please choose an option--"){ %>
					<option select selected value="" disabled><%=sel%></option>
					<%}else{%>
					<option select selected value="<%=sel%>"><%=sel%></option>
					<%}%>



		<option value="SmallMotorBike">SmallMotorBike</option>
		<option value="MediumMotorBike">MediumMotorBike</option>
		<option value="LargeMotorBike">LargeMotorBike</option>
	</select>
	<br>
	<label for="fuel">Enter the Fuel consumption in L/100km:</label>
<input  id="fuel" name ="fuel" type="number"  value="<%=fuel%>"  min=0 max=10000 placeholder="0">
	<br>
	<label for="distance">Enter the distance you travelled in Kms: </label>
	<input type="number" name="distance" min=0 max=10000 placeholder="0" value="<%=dist%>">
	<br>
  <div class="np-clear nextprev">
  <button type="submit" name="button" class="np-clea">Calculate</button>
  </div>
</form>


<br>

<p>

	<div class="np-clear nextprev">
	  <button class=" np-clea submit-btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
	    Add another entry
	  </button>
		</div>
</p>
<br>
<div class="collapse" id="collapseExample">
	<form action="/MotorBike2" method="post">
		<label for="bike">Select the motorbike type: </label>
		<select name="bike2" id="bike">


			<% if(sel==="--Please choose an option--"){ %>
			<option select selected value="" disabled><%=sel2%></option>
			<%}else{%>
			<option select selected value="<%=sel2%>"><%=sel2%></option>
			<%}%>



			<option value="SmallMotorBike">SmallMotorBike</option>
			<option value="MediumMotorBike">MediumMotorBike</option>
			<option value="LargeMotorBike">LargeMotorBike</option>
		</select>
		<br>
		<label for="fuel">Enter the Fuel consumption in L/100km:</label>
	<input  id="fuel" name ="fuel2" type="number" value="<%=fuel2%>"   min=0 max=10000 placeholder="0">
		<br>
		<label for="distance">Enter the distance you travelled in Kms: </label>
		<input type="number" name="distance2" min=0 max=10000 placeholder="0" value="<%=dist2%>">
		<br>
	  <div class="np-clear nextprev">
	  <button type="submit" name="button" class="np-clea">Calculate</button>
	  </div>
	</form>
</div>


<br>
<p style="color:white;"><%=statement%></p>
<h2 style="color:white;">Total Motorbike Footprint = <%=carbon%> metric tons of CO2e.</h2>
<div class="np-clear nextprev">
<a class="np-left ws-btn" href="/Flight">❮ Previous</a>
<a class="np-right ws-btn" href="/PublicTransit">Next ❯</a>
<a class="np-clea" id="anchor" href="/MotorBikeClear">Clear 🗘</a>
</div>
<%- include("partials/footer")%>
